USE [master]
GO
/****** Object:  Database [QuanLyNhaKhoa]    Script Date: 5/13/2024 11:01:21 PM ******/
CREATE DATABASE [QuanLyNhaKhoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaKhoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANG\MSSQL\DATA\QuanLyNhaKhoa.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaKhoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANG\MSSQL\DATA\QuanLyNhaKhoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaKhoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaKhoa]
GO
/****** Object:  UserDefinedFunction [dbo].[HashPassword]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[HashPassword](@Password NVARCHAR(4000))
RETURNS VARBINARY(64)
AS
BEGIN
    RETURN HASHBYTES('SHA2_512', @Password); -- Sử dụng thuật toán băm SHA-512
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Tao_ngay]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Tao_ngay] (@ngay date)
returns varchar(6)
as 
begin
	declare @day varchar(2), @month varchar(2), @year varchar(2),@temp varchar(12)
	set @temp = cast(@ngay as varchar(12))
	set @day = SUBSTRING(@temp,6,2)
	set @month = SUBSTRING(@temp,9,2)
	set @year = SUBSTRING(@temp,3,2)
	return @day + @month + @year
end
GO
/****** Object:  Table [dbo].[HD_Thuoc]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_Thuoc](
	[ID] [varchar](15) NOT NULL,
	[STT] [varchar](15) NOT NULL,
	[Ten_thuoc] [nvarchar](30) NOT NULL,
	[So_luong] [int] NULL,
	[Thanh_tien] [float] NULL,
	[Ghi_chu] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[STT] ASC,
	[Ten_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TongHDT]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[TongHDT]
as
	select ID,STT,sum(Thanh_tien) as Tong from HD_Thuoc
	group by ID,STT
GO
/****** Object:  Table [dbo].[HD_Dich_vu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_Dich_vu](
	[ID] [varchar](15) NOT NULL,
	[STT] [varchar](15) NOT NULL,
	[Ten_dich_vu] [nvarchar](50) NOT NULL,
	[So_luong] [int] NULL,
	[Thanh_tien] [float] NULL,
	[Ghi_chu] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[STT] ASC,
	[Ten_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TongHDDV]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TongHDDV]
as
	select ID,STT,sum(Thanh_tien) as Tong from HD_Dich_vu
	group by ID,STT


GO
/****** Object:  Table [dbo].[Nguoi_kham]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_kham](
	[STT] [varchar](15) NOT NULL,
	[Ngay] [date] NULL,
	[Ca] [int] NULL,
	[Ma_benh_nhan] [varchar](12) NULL,
	[Ma_le_tan] [varchar](10) NULL,
	[Ma_bac_si] [varchar](10) NULL,
	[Trang_thai] [nvarchar](15) NULL,
	[Ghi_chu] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thanh_toan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanh_toan](
	[ID] [varchar](30) NOT NULL,
	[STT] [varchar](15) NULL,
	[Gio] [datetime] NULL,
	[Tongtien] [float] NULL,
	[Hinhthuc] [nvarchar](30) NULL,
	[Tinhtrang] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[luongBonus]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[luongBonus] AS
    SELECT 
        Ma_bac_si,
        MONTH(Gio) AS Thang,
        YEAR(Gio) AS Nam,
        SUM(tongtien)*0.3 AS TotalTien
    FROM 
        Thanh_toan tt,
        Nguoi_kham nk
    WHERE 
        nk.STT = tt.STT
    GROUP BY 
        Ma_bac_si, 
        MONTH(Gio), 
        YEAR(Gio);
GO
/****** Object:  Table [dbo].[Luong_co_dinh]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong_co_dinh](
	[Ma] [varchar](10) NOT NULL,
	[So_tien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_dung]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_dung](
	[Ma_nhan_vien] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Gioi_tinh] [nvarchar](3) NULL,
	[Ngay_sinh] [date] NULL,
	[email] [varchar](50) NOT NULL,
	[Que_quan] [nvarchar](30) NULL,
	[CCCD] [nvarchar](12) NULL,
	[Maluong] [varchar](10) NULL,
	[Hoatdong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Tong_luong]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Tong_luong] AS
SELECT 
    nd.Ma_nhan_vien,
    nd.Ho,
    nd.Ten,
    lb.Thang AS Thang,
    lb.Nam AS Nam,
    lc.So_tien AS Luong_co_dinh,
    ISNULL(SUM(lb.TotalTien), 0) AS Tong_thuong,
    (lc.So_tien + ISNULL(SUM(lb.TotalTien), 0)) AS Tong_luong
FROM 
    Nguoi_dung nd
LEFT JOIN 
    Luong_co_dinh lc ON nd.Maluong = lc.Ma
LEFT JOIN 
    luongBonus lb ON nd.Ma_nhan_vien = lb.Ma_bac_si
GROUP BY 
    nd.Ma_nhan_vien, nd.Ho, nd.Ten, lb.Thang, lb.Nam, lc.So_tien;
GO
/****** Object:  Table [dbo].[Bac_si]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bac_si](
	[Ma_bac_si] [varchar](10) NOT NULL,
	[Chuyen_nganh] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_bac_si] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benh_an]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benh_an](
	[So_Benh_an] [int] IDENTITY(1,1) NOT NULL,
	[Ly_do_den_kham] [nvarchar](100) NULL,
	[Benh_su] [nvarchar](max) NULL,
	[Tien_su_gia_dinh] [nvarchar](max) NULL,
	[Tien_su_noi_khoa] [nvarchar](max) NULL,
	[Tien_su_rang_ham_mat] [nvarchar](max) NULL,
	[Kham_ngoai_mat] [nvarchar](100) NULL,
	[Tinh_trang_ve_sinh_rang_mieng] [nvarchar](100) NULL,
	[Mo_mem] [nvarchar](100) NULL,
	[Mo_nha_chu] [nvarchar](100) NULL,
	[Rang] [nvarchar](100) NULL,
	[Khop_can] [nvarchar](100) NULL,
	[Can_lam_sang] [nvarchar](max) NULL,
	[Ket_qua_can_lam_sang] [nvarchar](200) NULL,
	[Chuan_doan] [nvarchar](200) NULL,
	[Ke_hoach_dieu_tri] [nvarchar](200) NULL,
	[MaBN] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[So_Benh_an] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benh_nhan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benh_nhan](
	[MaBN] [varchar](12) NOT NULL,
	[CCCD] [nvarchar](12) NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Gioi_tinh] [nvarchar](3) NULL,
	[NgaySinh] [datetime] NULL,
	[Dia_chi] [nvarchar](100) NULL,
	[Nghe_nghiep] [nvarchar](50) NULL,
	[So_dien_thoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ca_lam]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca_lam](
	[Ca] [int] NOT NULL,
	[Gio_bat_dau] [time](7) NULL,
	[Gio_ket_thuc] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_tieu_dung_cu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tieu_dung_cu](
	[ID] [varchar](15) NOT NULL,
	[Ten_dung_cu] [nvarchar](30) NOT NULL,
	[So_luong] [int] NULL,
	[Tong_tien] [float] NULL,
	[STT] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[STT] ASC,
	[Ten_dung_cu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chu](
	[Ma_chu] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_chu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_muc_ki_thuat]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_muc_ki_thuat](
	[Ten_danh_muc] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_danh_muc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dich_vu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dich_vu](
	[Ten_dich_vu] [nvarchar](50) NOT NULL,
	[Don_vi_tinh] [nvarchar](15) NULL,
	[Don_gia] [float] NOT NULL,
	[Ghi_chu] [nvarchar](150) NULL,
	[Ten_danh_muc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](50) NULL,
	[bin] [varbinary](max) NULL,
	[Taikhoan] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Ten] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lam_viec]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lam_viec](
	[Ngay] [date] NOT NULL,
	[Ca] [int] NOT NULL,
	[Ma_bac_si] [varchar](10) NOT NULL,
	[Diemdanh] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ngay] ASC,
	[Ma_bac_si] ASC,
	[Ca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Le_tan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Le_tan](
	[Ma_le_tan] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_le_tan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_thuoc]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_thuoc](
	[Ten_loai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_vat_lieu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_vat_lieu](
	[Ten_loai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phuong_thuc_thanh_toan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phuong_thuc_thanh_toan](
	[Ten] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_khoan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_khoan](
	[Taikhoan] [varchar](30) NOT NULL,
	[Matkhau] [varbinary](64) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[SoLan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theo_doi_dieu_tri]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theo_doi_dieu_tri](
	[Ngay_tao] [date] NOT NULL,
	[Cong_viec_dieu_tri] [nvarchar](max) NULL,
	[MaBN] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ngay_tao] ASC,
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[Ten_thuoc] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NULL,
	[So_luong] [int] NOT NULL,
	[Gia_ban] [float] NOT NULL,
	[Ham_luong] [nvarchar](10) NOT NULL,
	[Ghi_chu] [nvarchar](150) NULL,
	[Ten_loai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vat_lieu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vat_lieu](
	[Ten_dung_cu] [nvarchar](30) NOT NULL,
	[Mau_sac] [nvarchar](15) NULL,
	[Kich_co] [float] NULL,
	[DVT] [nvarchar](15) NULL,
	[Gia] [float] NOT NULL,
	[So_luong] [int] NOT NULL,
	[Ghi_chu] [nvarchar](150) NULL,
	[Loai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten_dung_cu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bac_si] ([Ma_bac_si], [Chuyen_nganh]) VALUES (N'BSRTE01', N'Răng trẻ em')
INSERT [dbo].[Bac_si] ([Ma_bac_si], [Chuyen_nganh]) VALUES (N'BSRTE02', N'Răng trẻ em')
INSERT [dbo].[Bac_si] ([Ma_bac_si], [Chuyen_nganh]) VALUES (N'BSTQ01', N'Tổng quát')
GO
INSERT [dbo].[Benh_nhan] ([MaBN], [CCCD], [Ho], [Ten], [Gioi_tinh], [NgaySinh], [Dia_chi], [Nghe_nghiep], [So_dien_thoai]) VALUES (N'202405100001', N'123', N'123', N'123', N'Nam', CAST(N'2022-11-11T00:00:00.000' AS DateTime), N'123', N'123', N'123')
INSERT [dbo].[Benh_nhan] ([MaBN], [CCCD], [Ho], [Ten], [Gioi_tinh], [NgaySinh], [Dia_chi], [Nghe_nghiep], [So_dien_thoai]) VALUES (N'202405100002', N'1111', N'11', N'123', N'Nam', CAST(N'2222-11-11T00:00:00.000' AS DateTime), N'11', N'123', N'123')
GO
INSERT [dbo].[Ca_lam] ([Ca], [Gio_bat_dau], [Gio_ket_thuc]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Ca_lam] ([Ca], [Gio_bat_dau], [Gio_ket_thuc]) VALUES (2, CAST(N'11:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[Ca_lam] ([Ca], [Gio_bat_dau], [Gio_ket_thuc]) VALUES (3, CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time))
GO
INSERT [dbo].[Chi_tieu_dung_cu] ([ID], [Ten_dung_cu], [So_luong], [Tong_tien], [STT]) VALUES (N'CT0001', N'Chỉ khâu', 1, 40000, N'051324Ca101')
GO
INSERT [dbo].[Chu] ([Ma_chu]) VALUES (N'CPK01')
GO
INSERT [dbo].[Danh_muc_ki_thuat] ([Ten_danh_muc]) VALUES (N'Chỉnh hình răng mặt')
INSERT [dbo].[Danh_muc_ki_thuat] ([Ten_danh_muc]) VALUES (N'Chữa răng - Nội nha')
INSERT [dbo].[Danh_muc_ki_thuat] ([Ten_danh_muc]) VALUES (N'Chữa tủy')
GO
INSERT [dbo].[Dich_vu] ([Ten_dich_vu], [Don_vi_tinh], [Don_gia], [Ghi_chu], [Ten_danh_muc]) VALUES (N'1 hàm', N'Hàm', 1500000, NULL, N'Khí cụ tháo lắp')
INSERT [dbo].[Dich_vu] ([Ten_dich_vu], [Don_vi_tinh], [Don_gia], [Ghi_chu], [Ten_danh_muc]) VALUES (N'1 hàm (Khí cụ cố định)', N'Hàm', 10000000, NULL, N'Khí cụ cố định')
INSERT [dbo].[Dich_vu] ([Ten_dich_vu], [Don_vi_tinh], [Don_gia], [Ghi_chu], [Ten_danh_muc]) VALUES (N'1 hàm toàn hàm', N'Hàm', 1500000, NULL, N'Phục hình tháo lắp')
GO
INSERT [dbo].[HD_Dich_vu] ([ID], [STT], [Ten_dich_vu], [So_luong], [Thanh_tien], [Ghi_chu]) VALUES (N'HDDV0001', N'051024Ca102', N'1 răng', 1, 100000, NULL)
INSERT [dbo].[HD_Dich_vu] ([ID], [STT], [Ten_dich_vu], [So_luong], [Thanh_tien], [Ghi_chu]) VALUES (N'HDDV0002', N'051124Ca201', N'1 hàm toàn hàm', 12, 18000000, NULL)
INSERT [dbo].[HD_Dich_vu] ([ID], [STT], [Ten_dich_vu], [So_luong], [Thanh_tien], [Ghi_chu]) VALUES (N'HDDV0003', N'051324Ca102', N'2 hàm toàn hàm', 0, 0, NULL)
GO
INSERT [dbo].[HD_Thuoc] ([ID], [STT], [Ten_thuoc], [So_luong], [Thanh_tien], [Ghi_chu]) VALUES (N'HDT0001', N'051024Ca103', N'Amoxicillin 875', 1, 126000, N'Uống sau khi ăn')
INSERT [dbo].[HD_Thuoc] ([ID], [STT], [Ten_thuoc], [So_luong], [Thanh_tien], [Ghi_chu]) VALUES (N'HDT0002', N'051124Ca201', N'Dexamethasone', 1, 150000, N'')
INSERT [dbo].[HD_Thuoc] ([ID], [STT], [Ten_thuoc], [So_luong], [Thanh_tien], [Ghi_chu]) VALUES (N'HDT0003', N'051124Ca102', N'Cephalexin', 0, 0, N'')
GO
SET IDENTITY_INSERT [dbo].[image] ON 

SET IDENTITY_INSERT [dbo].[image] OFF
GO
INSERT [dbo].[Khoa] ([Ten]) VALUES (N'Chữa răng và nội nha')
INSERT [dbo].[Khoa] ([Ten]) VALUES (N'Nha chu')
INSERT [dbo].[Khoa] ([Ten]) VALUES (N'Nhổ răng và tiểu phẫu')
GO
INSERT [dbo].[Lam_viec] ([Ngay], [Ca], [Ma_bac_si], [Diemdanh]) VALUES (CAST(N'2024-05-10' AS Date), 1, N'BSTQ02', N'Có mặt')
INSERT [dbo].[Lam_viec] ([Ngay], [Ca], [Ma_bac_si], [Diemdanh]) VALUES (CAST(N'2024-05-10' AS Date), 3, N'BSTQ02', N'Chưa điểm danh')
INSERT [dbo].[Lam_viec] ([Ngay], [Ca], [Ma_bac_si], [Diemdanh]) VALUES (CAST(N'2024-05-12' AS Date), 1, N'BSTQ02', N'Chưa điểm danh')
GO
INSERT [dbo].[Le_tan] ([Ma_le_tan]) VALUES (N'LT01')
GO
INSERT [dbo].[Loai_thuoc] ([Ten_loai]) VALUES (N'Giảm đau')
INSERT [dbo].[Loai_thuoc] ([Ten_loai]) VALUES (N'Kháng sinh')
INSERT [dbo].[Loai_thuoc] ([Ten_loai]) VALUES (N'Kháng viêm')
GO
INSERT [dbo].[Loai_vat_lieu] ([Ten_loai]) VALUES (N'Vật liệu cố định')
INSERT [dbo].[Loai_vat_lieu] ([Ten_loai]) VALUES (N'Vật liệu tiêu hao')
GO
INSERT [dbo].[Luong_co_dinh] ([Ma], [So_tien]) VALUES (N'BSCRVNN', 7500000)
INSERT [dbo].[Luong_co_dinh] ([Ma], [So_tien]) VALUES (N'BSNC', 7000000)
INSERT [dbo].[Luong_co_dinh] ([Ma], [So_tien]) VALUES (N'BSNRVTP', 7500000)
GO
INSERT [dbo].[Nguoi_dung] ([Ma_nhan_vien], [Ho], [Ten], [Gioi_tinh], [Ngay_sinh], [email], [Que_quan], [CCCD], [Maluong], [Hoatdong]) VALUES (N'BSNRVTP01', N'Trần Thị', N'Nhàn', N'Nữ', CAST(N'2005-04-12' AS Date), N'123@gmail.com', N'Đồng Tháp', N'123', N'BSNRVTP', 1)
INSERT [dbo].[Nguoi_dung] ([Ma_nhan_vien], [Ho], [Ten], [Gioi_tinh], [Ngay_sinh], [email], [Que_quan], [CCCD], [Maluong], [Hoatdong]) VALUES (N'BSRTE01', N'Trần Thị', N'Nhàn', N'Nữ', CAST(N'2005-04-12' AS Date), N'123@gmail.com', N'Đồng Tháp', N'52200015', N'BSRTE', 1)
INSERT [dbo].[Nguoi_dung] ([Ma_nhan_vien], [Ho], [Ten], [Gioi_tinh], [Ngay_sinh], [email], [Que_quan], [CCCD], [Maluong], [Hoatdong]) VALUES (N'BSRTE02', N'Trần Thị', N'Nhàn', N'Nữ', CAST(N'2005-04-12' AS Date), N'uchihaha3169@gmail.com', N'Đồng Tháp', N'12322', N'BSRTE', 1)
GO
INSERT [dbo].[Nguoi_kham] ([STT], [Ngay], [Ca], [Ma_benh_nhan], [Ma_le_tan], [Ma_bac_si], [Trang_thai], [Ghi_chu]) VALUES (N'051024Ca101', CAST(N'2024-05-10' AS Date), 1, N'202405100001', N'LT01', N'BSTQ01', N'Chưa tiếp nhận', NULL)
INSERT [dbo].[Nguoi_kham] ([STT], [Ngay], [Ca], [Ma_benh_nhan], [Ma_le_tan], [Ma_bac_si], [Trang_thai], [Ghi_chu]) VALUES (N'051024Ca102', CAST(N'2024-05-10' AS Date), 1, N'202405100001', N'LT01', N'BSTQ02', N'Chưa tiếp nhận', NULL)
INSERT [dbo].[Nguoi_kham] ([STT], [Ngay], [Ca], [Ma_benh_nhan], [Ma_le_tan], [Ma_bac_si], [Trang_thai], [Ghi_chu]) VALUES (N'051024Ca103', CAST(N'2024-05-10' AS Date), 1, N'202405100002', N'LT01', N'BSTQ02', N'Chưa tiếp nhận', NULL)
GO
INSERT [dbo].[Phuong_thuc_thanh_toan] ([Ten]) VALUES (N'Chuyển khoản')
INSERT [dbo].[Phuong_thuc_thanh_toan] ([Ten]) VALUES (N'Tiền mặt')
GO
INSERT [dbo].[Tai_khoan] ([Taikhoan], [Matkhau], [MaNV], [SoLan]) VALUES (N'BSNRVTP01', 0xA94B1F10C472E110C9C245FB81FD0DE01D3C5B33787504F2BEE9B63C4F11CE70CDD76AC4BBC472264AA06A1AB1638E15AB9338C3F5C9D5BD0DFA95A7B4B54716, N'BSNRVTP01', 0)
INSERT [dbo].[Tai_khoan] ([Taikhoan], [Matkhau], [MaNV], [SoLan]) VALUES (N'BSRTE01', 0xF484AF43207FD998D1687EBDD1C244E5E74481F5B45A6A13E10E4DAB455957419A8AA9B1BAC7DF854B725B1163F3B1F8B85C8BEE6DCF1689367C3CFCBD5C5DCB, N'BSRTE01', 0)
INSERT [dbo].[Tai_khoan] ([Taikhoan], [Matkhau], [MaNV], [SoLan]) VALUES (N'BSRTE02', 0x9C631AA40C2AE4B32A9F2A6AC1F7FC8FE7247A982960D6F467A5D83DE1D05D970164BD6B023D8B9ADB3BF42ACBBD8BF3739E14E3A6B16E1F477684C66AC2C811, N'BSRTE02', 0)
GO
INSERT [dbo].[Thanh_toan] ([ID], [STT], [Gio], [Tongtien], [Hinhthuc], [Tinhtrang]) VALUES (N'HD0001', N'051024Ca102', NULL, 100000, NULL, N'Chưa thanh toán')
INSERT [dbo].[Thanh_toan] ([ID], [STT], [Gio], [Tongtien], [Hinhthuc], [Tinhtrang]) VALUES (N'HD0002', N'051024Ca103', CAST(N'2024-05-13T14:35:36.297' AS DateTime), 126000, N'Tiền mặt', N'Đã thanh toán')
INSERT [dbo].[Thanh_toan] ([ID], [STT], [Gio], [Tongtien], [Hinhthuc], [Tinhtrang]) VALUES (N'HD0003', N'051124Ca101', CAST(N'2024-05-11T12:40:53.267' AS DateTime), 0, N'Tiền mặt', N'Đã thanh toán')
GO
INSERT [dbo].[Thuoc] ([Ten_thuoc], [DVT], [So_luong], [Gia_ban], [Ham_luong], [Ghi_chu], [Ten_loai]) VALUES (N'123', N'Hộp', 123, 123, N'123', N'123', N'Giảm đau')
INSERT [dbo].[Thuoc] ([Ten_thuoc], [DVT], [So_luong], [Gia_ban], [Ham_luong], [Ghi_chu], [Ten_loai]) VALUES (N'Amoxicillin 1000', N'Hộp', 10, 275000, N'1000mg', NULL, N'Kháng sinh')
INSERT [dbo].[Thuoc] ([Ten_thuoc], [DVT], [So_luong], [Gia_ban], [Ham_luong], [Ghi_chu], [Ten_loai]) VALUES (N'Amoxicillin 500', N'Hộp', 10, 120000, N'500mg', NULL, N'Kháng sinh')
GO
INSERT [dbo].[Vat_lieu] ([Ten_dung_cu], [Mau_sac], [Kich_co], [DVT], [Gia], [So_luong], [Ghi_chu], [Loai]) VALUES (N'Bay trám', N'Trắng', NULL, N'Cái', 500000, 10, NULL, N'Vật liệu cố định')
INSERT [dbo].[Vat_lieu] ([Ten_dung_cu], [Mau_sac], [Kich_co], [DVT], [Gia], [So_luong], [Ghi_chu], [Loai]) VALUES (N'Bộ dụng cụ khám răng cơ bản', N'Trắng', NULL, N'Bộ', 700000, 10, NULL, N'Vật liệu cố định')
INSERT [dbo].[Vat_lieu] ([Ten_dung_cu], [Mau_sac], [Kich_co], [DVT], [Gia], [So_luong], [Ghi_chu], [Loai]) VALUES (N'Các loại trâm tay', N'Đen', NULL, N'Bộ', 300000, 10, NULL, N'Vật liệu tiêu hao')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Nguoi_du__A955A0AA6C4E35B7]    Script Date: 5/13/2024 11:01:21 PM ******/
ALTER TABLE [dbo].[Nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Benh_an] ADD  DEFAULT (N'Chưa ghi nhận bất thường') FOR [Benh_su]
GO
ALTER TABLE [dbo].[Benh_an] ADD  DEFAULT (N'Chưa ghi nhận bất thường') FOR [Tien_su_gia_dinh]
GO
ALTER TABLE [dbo].[Benh_an] ADD  DEFAULT (N'Chưa ghi nhận bất thường') FOR [Tien_su_noi_khoa]
GO
ALTER TABLE [dbo].[Benh_an] ADD  DEFAULT (N'Chưa ghi nhận bất thường') FOR [Tien_su_rang_ham_mat]
GO
ALTER TABLE [dbo].[Bac_si]  WITH CHECK ADD FOREIGN KEY([Chuyen_nganh])
REFERENCES [dbo].[Khoa] ([Ten])
GO
ALTER TABLE [dbo].[Bac_si]  WITH CHECK ADD FOREIGN KEY([Chuyen_nganh])
REFERENCES [dbo].[Khoa] ([Ten])
GO
ALTER TABLE [dbo].[Bac_si]  WITH CHECK ADD FOREIGN KEY([Ma_bac_si])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Bac_si]  WITH CHECK ADD FOREIGN KEY([Ma_bac_si])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Benh_an]  WITH CHECK ADD FOREIGN KEY([MaBN])
REFERENCES [dbo].[Benh_nhan] ([MaBN])
GO
ALTER TABLE [dbo].[Benh_an]  WITH CHECK ADD FOREIGN KEY([MaBN])
REFERENCES [dbo].[Benh_nhan] ([MaBN])
GO
ALTER TABLE [dbo].[Chi_tieu_dung_cu]  WITH CHECK ADD FOREIGN KEY([Ten_dung_cu])
REFERENCES [dbo].[Vat_lieu] ([Ten_dung_cu])
GO
ALTER TABLE [dbo].[Chi_tieu_dung_cu]  WITH CHECK ADD FOREIGN KEY([Ten_dung_cu])
REFERENCES [dbo].[Vat_lieu] ([Ten_dung_cu])
GO
ALTER TABLE [dbo].[Chi_tieu_dung_cu]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[Chi_tieu_dung_cu]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[Chu]  WITH CHECK ADD FOREIGN KEY([Ma_chu])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Chu]  WITH CHECK ADD FOREIGN KEY([Ma_chu])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Dich_vu]  WITH CHECK ADD FOREIGN KEY([Ten_danh_muc])
REFERENCES [dbo].[Danh_muc_ki_thuat] ([Ten_danh_muc])
GO
ALTER TABLE [dbo].[Dich_vu]  WITH CHECK ADD FOREIGN KEY([Ten_danh_muc])
REFERENCES [dbo].[Danh_muc_ki_thuat] ([Ten_danh_muc])
GO
ALTER TABLE [dbo].[HD_Dich_vu]  WITH CHECK ADD FOREIGN KEY([Ten_dich_vu])
REFERENCES [dbo].[Dich_vu] ([Ten_dich_vu])
GO
ALTER TABLE [dbo].[HD_Dich_vu]  WITH CHECK ADD FOREIGN KEY([Ten_dich_vu])
REFERENCES [dbo].[Dich_vu] ([Ten_dich_vu])
GO
ALTER TABLE [dbo].[HD_Dich_vu]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[HD_Dich_vu]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[HD_Thuoc]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[HD_Thuoc]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[HD_Thuoc]  WITH CHECK ADD FOREIGN KEY([Ten_thuoc])
REFERENCES [dbo].[Thuoc] ([Ten_thuoc])
GO
ALTER TABLE [dbo].[HD_Thuoc]  WITH CHECK ADD FOREIGN KEY([Ten_thuoc])
REFERENCES [dbo].[Thuoc] ([Ten_thuoc])
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD FOREIGN KEY([Taikhoan])
REFERENCES [dbo].[Tai_khoan] ([Taikhoan])
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD FOREIGN KEY([Taikhoan])
REFERENCES [dbo].[Tai_khoan] ([Taikhoan])
GO
ALTER TABLE [dbo].[Lam_viec]  WITH CHECK ADD FOREIGN KEY([Ca])
REFERENCES [dbo].[Ca_lam] ([Ca])
GO
ALTER TABLE [dbo].[Lam_viec]  WITH CHECK ADD FOREIGN KEY([Ca])
REFERENCES [dbo].[Ca_lam] ([Ca])
GO
ALTER TABLE [dbo].[Lam_viec]  WITH CHECK ADD FOREIGN KEY([Ma_bac_si])
REFERENCES [dbo].[Bac_si] ([Ma_bac_si])
GO
ALTER TABLE [dbo].[Lam_viec]  WITH CHECK ADD FOREIGN KEY([Ma_bac_si])
REFERENCES [dbo].[Bac_si] ([Ma_bac_si])
GO
ALTER TABLE [dbo].[Le_tan]  WITH CHECK ADD FOREIGN KEY([Ma_le_tan])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Le_tan]  WITH CHECK ADD FOREIGN KEY([Ma_le_tan])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Nguoi_dung]  WITH CHECK ADD FOREIGN KEY([Maluong])
REFERENCES [dbo].[Luong_co_dinh] ([Ma])
GO
ALTER TABLE [dbo].[Nguoi_dung]  WITH CHECK ADD FOREIGN KEY([Maluong])
REFERENCES [dbo].[Luong_co_dinh] ([Ma])
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD FOREIGN KEY([Ma_bac_si])
REFERENCES [dbo].[Bac_si] ([Ma_bac_si])
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD FOREIGN KEY([Ma_bac_si])
REFERENCES [dbo].[Bac_si] ([Ma_bac_si])
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD FOREIGN KEY([Ma_benh_nhan])
REFERENCES [dbo].[Benh_nhan] ([MaBN])
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD FOREIGN KEY([Ma_benh_nhan])
REFERENCES [dbo].[Benh_nhan] ([MaBN])
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD FOREIGN KEY([Ma_le_tan])
REFERENCES [dbo].[Le_tan] ([Ma_le_tan])
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD FOREIGN KEY([Ma_le_tan])
REFERENCES [dbo].[Le_tan] ([Ma_le_tan])
GO
ALTER TABLE [dbo].[Tai_khoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Tai_khoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nguoi_dung] ([Ma_nhan_vien])
GO
ALTER TABLE [dbo].[Thanh_toan]  WITH CHECK ADD FOREIGN KEY([Hinhthuc])
REFERENCES [dbo].[Phuong_thuc_thanh_toan] ([Ten])
GO
ALTER TABLE [dbo].[Thanh_toan]  WITH CHECK ADD FOREIGN KEY([Hinhthuc])
REFERENCES [dbo].[Phuong_thuc_thanh_toan] ([Ten])
GO
ALTER TABLE [dbo].[Thanh_toan]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[Thanh_toan]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[Nguoi_kham] ([STT])
GO
ALTER TABLE [dbo].[Theo_doi_dieu_tri]  WITH CHECK ADD FOREIGN KEY([MaBN])
REFERENCES [dbo].[Benh_nhan] ([MaBN])
GO
ALTER TABLE [dbo].[Theo_doi_dieu_tri]  WITH CHECK ADD FOREIGN KEY([MaBN])
REFERENCES [dbo].[Benh_nhan] ([MaBN])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([Ten_loai])
REFERENCES [dbo].[Loai_thuoc] ([Ten_loai])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([Ten_loai])
REFERENCES [dbo].[Loai_thuoc] ([Ten_loai])
GO
ALTER TABLE [dbo].[Vat_lieu]  WITH CHECK ADD FOREIGN KEY([Loai])
REFERENCES [dbo].[Loai_vat_lieu] ([Ten_loai])
GO
ALTER TABLE [dbo].[Vat_lieu]  WITH CHECK ADD FOREIGN KEY([Loai])
REFERENCES [dbo].[Loai_vat_lieu] ([Ten_loai])
GO
ALTER TABLE [dbo].[Benh_an]  WITH CHECK ADD CHECK  (([Can_lam_sang]=N'Khác' OR [Can_lam_sang]=N'Xét nghiệm máu' OR [Can_lam_sang]=N'Siêu âm' OR [Can_lam_sang]=N'X-quang'))
GO
ALTER TABLE [dbo].[Benh_an]  WITH CHECK ADD CHECK  (([Can_lam_sang]=N'Khác' OR [Can_lam_sang]=N'Xét nghiệm máu' OR [Can_lam_sang]=N'Siêu âm' OR [Can_lam_sang]=N'X-quang'))
GO
ALTER TABLE [dbo].[Benh_nhan]  WITH CHECK ADD CHECK  (([Gioi_tinh]=N'Nữ' OR [Gioi_tinh]=N'Nam'))
GO
ALTER TABLE [dbo].[Benh_nhan]  WITH CHECK ADD CHECK  (([Gioi_tinh]=N'Nữ' OR [Gioi_tinh]=N'Nam'))
GO
ALTER TABLE [dbo].[Ca_lam]  WITH CHECK ADD CHECK  (([Ca]>=(1) AND [Ca]<=(3)))
GO
ALTER TABLE [dbo].[Ca_lam]  WITH CHECK ADD CHECK  (([Ca]>=(1) AND [Ca]<=(3)))
GO
ALTER TABLE [dbo].[Dich_vu]  WITH CHECK ADD CHECK  (([Don_gia]>(0)))
GO
ALTER TABLE [dbo].[Dich_vu]  WITH CHECK ADD CHECK  (([Don_gia]>(0)))
GO
ALTER TABLE [dbo].[Dich_vu]  WITH CHECK ADD CHECK  (([Don_vi_tinh]=N'Đơn vị' OR [Don_vi_tinh]=N'Phim' OR [Don_vi_tinh]=N'Máng' OR [Don_vi_tinh]=N'Bộ' OR [Don_vi_tinh]=N'Hàm' OR [Don_vi_tinh]=N'Ống tủy' OR [Don_vi_tinh]=N'Xoang' OR [Don_vi_tinh]=N'Răng' OR [Don_vi_tinh]=N'Lần' OR [Don_vi_tinh]=N'Vùng hàm' OR [Don_vi_tinh]=N'2 hàm' OR [Don_vi_tinh]=N'Lượt' OR [Don_vi_tinh]=N'Cái'))
GO
ALTER TABLE [dbo].[Dich_vu]  WITH CHECK ADD CHECK  (([Don_vi_tinh]=N'Đơn vị' OR [Don_vi_tinh]=N'Phim' OR [Don_vi_tinh]=N'Máng' OR [Don_vi_tinh]=N'Bộ' OR [Don_vi_tinh]=N'Hàm' OR [Don_vi_tinh]=N'Ống tủy' OR [Don_vi_tinh]=N'Xoang' OR [Don_vi_tinh]=N'Răng' OR [Don_vi_tinh]=N'Lần' OR [Don_vi_tinh]=N'Vùng hàm' OR [Don_vi_tinh]=N'2 hàm' OR [Don_vi_tinh]=N'Lượt' OR [Don_vi_tinh]=N'Cái'))
GO
ALTER TABLE [dbo].[Lam_viec]  WITH CHECK ADD CHECK  (([Diemdanh]=N'Chưa điểm danh' OR [Diemdanh]=N'Vắng' OR [Diemdanh]=N'Có mặt'))
GO
ALTER TABLE [dbo].[Lam_viec]  WITH CHECK ADD CHECK  (([Diemdanh]=N'Chưa điểm danh' OR [Diemdanh]=N'Vắng' OR [Diemdanh]=N'Có mặt'))
GO
ALTER TABLE [dbo].[Nguoi_dung]  WITH CHECK ADD CHECK  (([Gioi_tinh]=N'Nữ' OR [Gioi_tinh]=N'Nam'))
GO
ALTER TABLE [dbo].[Nguoi_dung]  WITH CHECK ADD CHECK  (([Gioi_tinh]=N'Nữ' OR [Gioi_tinh]=N'Nam'))
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD CHECK  (([Ghi_chu]=N'Xong' OR [Ghi_chu]=N'Tái khám'))
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD CHECK  (([Ghi_chu]=N'Xong' OR [Ghi_chu]=N'Tái khám'))
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD CHECK  (([Trang_thai]=N'Đã điều trị' OR [Trang_thai]=N'Đang điều trị' OR [Trang_thai]=N'Đã tiếp nhận' OR [Trang_thai]=N'Chưa tiếp nhận'))
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD CHECK  (([Trang_thai]=N'Đã điều trị' OR [Trang_thai]=N'Đang điều trị' OR [Trang_thai]=N'Đã tiếp nhận' OR [Trang_thai]=N'Chưa tiếp nhận'))
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD CHECK  (([Ca]>=(1) AND [Ca]<=(3)))
GO
ALTER TABLE [dbo].[Nguoi_kham]  WITH CHECK ADD CHECK  (([Ca]>=(1) AND [Ca]<=(3)))
GO
ALTER TABLE [dbo].[Phuong_thuc_thanh_toan]  WITH CHECK ADD CHECK  (([Ten]=N'Chuyển khoản' OR [Ten]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[Phuong_thuc_thanh_toan]  WITH CHECK ADD CHECK  (([Ten]=N'Chuyển khoản' OR [Ten]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[Thanh_toan]  WITH CHECK ADD CHECK  (([Tinhtrang]=N'Đã thanh toán' OR [Tinhtrang]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[Thanh_toan]  WITH CHECK ADD CHECK  (([Tinhtrang]=N'Đã thanh toán' OR [Tinhtrang]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD CHECK  (([Gia_ban]>(0)))
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD CHECK  (([Gia_ban]>(0)))
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD CHECK  (([So_luong]>=(0)))
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD CHECK  (([So_luong]>=(0)))
GO
ALTER TABLE [dbo].[Vat_lieu]  WITH CHECK ADD CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[Vat_lieu]  WITH CHECK ADD CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[Vat_lieu]  WITH CHECK ADD CHECK  (([So_luong]>=(0)))
GO
ALTER TABLE [dbo].[Vat_lieu]  WITH CHECK ADD CHECK  (([So_luong]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[CapNhatThanhToan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CapNhatThanhToan]
(
    @id varchar(30),
    @hinhthuc NVARCHAR(100)
)
AS
BEGIN
    -- Cập nhật trạng thái thanh toán
    UPDATE Thanh_toan
    SET tinhtrang = N'Đã thanh toán'
    WHERE id = @id;

    -- Cập nhật hình thức thanh toán
    UPDATE Thanh_toan
    SET Hinhthuc = @hinhthuc
    WHERE id = @id;

    -- Cập nhật thời gian thanh toán
    UPDATE Thanh_toan
    SET gio = GETDATE()
    WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[CapNhatThuocVoiChenhLech]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CapNhatThuocVoiChenhLech]
    @TenThuoc NVARCHAR(30),
    @STT VARCHAR(15),
    @SoLuong INT,
    @GhiChu NVARCHAR(150)
AS
BEGIN
    DECLARE @SoLuongHienTai INT;

    -- Lấy số lượng hiện tại của thuốc
    SELECT @SoLuongHienTai = ISNULL(So_luong, 0) 
    FROM HD_Thuoc 
    WHERE Ten_thuoc = @TenThuoc AND STT = @STT;

    -- Cập nhật số lượng thuốc trong bảng HD_Thuoc
    UPDATE HD_Thuoc 
    SET So_luong = @SoLuong, 
        Ghi_chu = @GhiChu 
    WHERE Ten_thuoc = @TenThuoc AND STT = @STT;

    -- Tính toán chênh lệch số lượng
    DECLARE @ChenhLechSoLuong INT;
    SET @ChenhLechSoLuong = @SoLuong - @SoLuongHienTai;

    -- Cập nhật số lượng thuốc trong kho trong bảng Thuoc
    UPDATE Thuoc 
    SET So_luong = So_luong - @ChenhLechSoLuong 
    WHERE Ten_thuoc = @TenThuoc;
END
GO
/****** Object:  StoredProcedure [dbo].[DiemDanh]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DiemDanh] 
  @Ngay date,
  @Ma_bac_si VARCHAR(10),
  @Ca INT
AS
BEGIN
  UPDATE Lam_viec
  SET Diemdanh = N'Có mặt'
  WHERE Ngay = @Ngay AND Ma_bac_si = @Ma_bac_si AND Ca = @Ca;

END;
GO
/****** Object:  StoredProcedure [dbo].[Lay_ngay_ra]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Lay_ngay_ra]
  @mabacsi VARCHAR(10),
  @thang INT,
  @nam INT
AS
BEGIN
  SELECT DAY(Ngay) AS Ngay_trong_thang
  FROM Lam_viec
  WHERE Ma_bac_si = @mabacsi
    AND MONTH(Ngay) = @thang
    AND YEAR(Ngay) = @nam;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_capnhatsolan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_capnhatsolan] @taikhoan VARCHAR(30)
as
	begin
		update Tai_khoan set SoLan = 0 where @taikhoan = Taikhoan
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_check]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_check]
    @manhanvien VARCHAR(10),
	@matkhau VARCHAR(30)
AS
BEGIN
    select * from Nguoi_dung inner join Tai_khoan on Nguoi_dung.Ma_nhan_vien = Tai_khoan.MaNV
	where MaNV = @manhanvien
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_check_login]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proc_check_login] 
    @taikhoan VARCHAR(30),
    @matkhau NVARCHAR(4000),
    @message NVARCHAR(1000) OUTPUT
AS
BEGIN
    DECLARE @SoLan INT;

    -- Khởi tạo giá trị mặc định cho output parameter
    SET @message = '';

    -- Check if the account exists
    IF NOT EXISTS (SELECT 1 FROM Tai_khoan WHERE Taikhoan = @taikhoan)
    BEGIN
        SET @message = N'Không tìm thấy tài khoản';
        RETURN;
    END

    -- Check if the account is active
    IF NOT EXISTS (
        SELECT 1 
        FROM Tai_khoan tk 
        JOIN Nguoi_dung nd ON tk.MaNV = nd.Ma_nhan_vien
        WHERE tk.Taikhoan = @taikhoan AND nd.Hoatdong = 1
    )
    BEGIN
        SET @message = N'Tài khoản không hoạt động';
        RETURN;
    END

    -- Get the number of login attempts
    SELECT @SoLan = SoLan FROM Tai_khoan WHERE Taikhoan = @taikhoan;

    -- Check if the login attempts exceed 5
    IF @SoLan > 5
    BEGIN
        SET @message = N'Tài khoản bị vô hiệu hóa do quá nhiều lần thử đăng nhập';
        RETURN;
    END

    -- Check if the password is correct
    IF NOT EXISTS (
        SELECT 1 
        FROM Tai_khoan 
        WHERE Taikhoan = @taikhoan AND Matkhau = dbo.HashPassword(@matkhau)
    )
    BEGIN
        SET @message = N'Sai mật khẩu';
        
        -- Increase the number of login attempts
        UPDATE Tai_khoan SET SoLan = SoLan + 1 WHERE Taikhoan = @taikhoan;
        RETURN;
    END

    -- Reset the number of login attempts to 0
    UPDATE Tai_khoan SET SoLan = 0 WHERE Taikhoan = @taikhoan;
    
    SET @message = N'Đăng nhập thành công';
END
GO
/****** Object:  StoredProcedure [dbo].[proc_checkmatkhau]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_checkmatkhau] @taikhoan VARCHAR(30), @matkhau NVARCHAR(4000)
as
	begin
		SELECT * FROM Tai_khoan WHERE Taikhoan = @taikhoan AND Matkhau = dbo.HashPassword(@matkhau)
		update Tai_khoan set SoLan = SoLan + 1 where @taikhoan = Taikhoan
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_checktaikhoan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_checktaikhoan] @taikhoan VARCHAR(30)
as
	begin
		select * from Tai_khoan where Taikhoan = @taikhoan
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_chitieudichvu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_chitieudichvu]
as
begin
	select Ten_dich_vu as Ten,So_luong,Ngay from HD_Dich_vu inner join Nguoi_kham on HD_Dich_vu.STT = Nguoi_kham.STT
	order by Ngay ,Ten_dich_vu
end
GO
/****** Object:  StoredProcedure [dbo].[proc_chitieuthuoc]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_chitieuthuoc]
as
begin
	select Ten_thuoc as Ten,So_luong,Ngay from HD_Thuoc inner join Nguoi_kham on HD_Thuoc.STT = Nguoi_kham.STT
	order by Ngay, Ten_thuoc
end
GO
/****** Object:  StoredProcedure [dbo].[proc_income]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_income]
as
begin
	select ho+' '+ten as HoTen,Tongtien
	from Thanh_toan
	inner join Nguoi_kham on Thanh_toan.STT = Nguoi_kham.STT
	inner join Benh_nhan on Nguoi_kham.Ma_benh_nhan = Benh_nhan.MaBN
end
GO
/****** Object:  StoredProcedure [dbo].[proc_khoiphucmatkhau]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_khoiphucmatkhau] @taikhoan VARCHAR(30)
as
	begin
		declare @cccd NVARCHAR(12)
		select @cccd = cccd from  Tai_khoan t inner join Nguoi_dung n on t.MaNV = n.Ma_nhan_vien where Taikhoan = @taikhoan
		update Tai_khoan
		set Matkhau = dbo.HashPassword('PKRHM'+RIGHT(@cccd,4))
		where Taikhoan = @taikhoan
		update Tai_khoan set SoLan = 0 where @taikhoan = Taikhoan
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_kiemtraemail]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proc_kiemtraemail] 
    @taikhoan VARCHAR(30),
    @email VARCHAR(50),
    @message NVARCHAR(1000) OUTPUT
AS
BEGIN
    DECLARE @Hoatdong INT;

    -- Check if the account exists
    IF NOT EXISTS (SELECT 1 FROM Tai_khoan WHERE Taikhoan = @taikhoan)
    BEGIN
        SET @message = N'Không tìm thấy tài khoản';
        RETURN;
    END

    -- Check if the account is active
    SELECT @Hoatdong = Hoatdong
    FROM Nguoi_dung nd
    INNER JOIN Tai_khoan tk ON nd.Ma_nhan_vien = tk.MaNV
    WHERE tk.Taikhoan = @taikhoan;

    IF @Hoatdong = 0
    BEGIN
        SET @message = N'Tài khoản không còn hoạt động';
        RETURN;
    END

    -- Check if the email matches
    IF NOT EXISTS (
        SELECT 1 
        FROM Nguoi_dung nd
        INNER JOIN Tai_khoan tk ON nd.Ma_nhan_vien = tk.MaNV
        WHERE tk.Taikhoan = @taikhoan AND nd.email = @email
    )
    BEGIN
        SET @message = N'Email không khớp với tài khoản';
        RETURN;
    END

    -- If everything is correct, return success
    SET @message = N'Thành công';
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_lankham]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_lankham]
    @Mabn VARCHAR(12)
AS
BEGIN
    SELECT TOP 1 
        nk.Ngay,
        nd.Ho + ' ' +
        nd.Ten AS HoTen
    FROM 
        Nguoi_kham nk
    INNER JOIN 
        Nguoi_dung nd ON nk.Ma_bac_si = nd.Ma_nhan_vien
    WHERE 
        nk.Ma_benh_nhan = @Mabn
        AND nk.Trang_thai = N'Đã điều trị'
    ORDER BY 
        nk.Ngay;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_layanh]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_layanh]
as
begin
	select * from image
end
GO
/****** Object:  StoredProcedure [dbo].[proc_LayBenhAn]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_LayBenhAn]
		@MaBN VARCHAR(12)
	AS
	BEGIN
		SET NOCOUNT ON;

		SELECT 
			BA.Ly_do_den_kham, 
			BA.Benh_su, 
			BA.Tien_su_gia_dinh, 
			BA.Tien_su_noi_khoa, 
			BA.Tien_su_rang_ham_mat, 
			BA.Kham_ngoai_mat, 
			BA.Tinh_trang_ve_sinh_rang_mieng, 
			BA.Mo_mem, 
			BA.Mo_nha_chu, 
			BA.Rang, 
			BA.Khop_can, 
			BA.Can_lam_sang, 
			BA.Ket_qua_can_lam_sang, 
			BA.Chuan_doan, 
			BA.Ke_hoach_dieu_tri
		FROM 
			Benh_an BA
		INNER JOIN 
			Benh_nhan BN ON BN.MaBN = BA.MaBN
		WHERE 
			BN.MaBN = @MaBN
		ORDER BY BA.So_Benh_an desc
	END;
GO
/****** Object:  StoredProcedure [dbo].[proc_lichlam]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_lichlam] @ngay date, @maBS varchar(12)
as
	begin
		 select ca,Diemdanh from Lam_viec where @ngay = Ngay and @maBS = Ma_bac_si
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_lichlamthang]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_lichlamthang] @nam int, @thang int , @maBS varchar(12)
as
	begin
		 select ca,Diemdanh,ngay from Lam_viec where month(ngay) = @thang and year(ngay) = @nam and @maBS = Ma_bac_si
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_luong]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_luong] @nam int, @thang int
as
	begin
		select ma_nhan_vien, ho+' '+ten as HoTen, tong_luong
		from Tong_luong
		where thang = @thang and nam = @nam
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_luongcb]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_luongcb]
as
	begin
		select ma_nhan_vien, ho+' '+ten as HoTen, So_tien
		from Nguoi_dung inner join Luong_co_dinh on Nguoi_dung.Maluong = Luong_co_dinh.Ma
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_thaydoimatkhau]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_thaydoimatkhau]
    @manhanvien VARCHAR(10),
	@matkhaumoi NVARCHAR(4000)
AS
BEGIN
    update Tai_khoan set Matkhau = dbo.HashPassword(@matkhaumoi)
	where MaNV = @manhanvien
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_themanh]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_themanh]
    @bin VARBINARY(MAX),
	@Taikhoan VARCHAR(30)
AS
BEGIN
    INSERT INTO image (bin,Taikhoan)
    VALUES (@bin,@Taikhoan);
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_thongtin]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_thongtin] @taikhoan VARCHAR(30)
as
	begin
		 select Ma_nhan_vien,ho,ten,Gioi_tinh from Nguoi_dung inner join Tai_khoan on Tai_khoan.MaNV = Nguoi_dung.Ma_nhan_vien
		 where @taikhoan = Taikhoan
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_tiepnhan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_tiepnhan] @maBN varchar(12)
as
	begin
		 update Nguoi_kham set Trang_thai = N'Đã tiếp nhận'
		 where STT = @maBN
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_timbacsi]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proc_timbacsi]
AS
BEGIN
    SELECT 
        nd.Ma_nhan_vien,
        nd.ho + ' ' + nd.ten AS HoTen,
        nd.Gioi_tinh,
        bs.Chuyen_nganh,
        CASE 
            WHEN nd.Hoatdong = 1 THEN N'Còn hoạt động'
            ELSE N'Không còn hoạt động'
        END AS Tinh_trang_hoat_dong
    FROM 
        Nguoi_dung nd
    INNER JOIN 
        Bac_si bs ON nd.Ma_nhan_vien = bs.Ma_bac_si;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_timbenhnhan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_timbenhnhan] @ngay date, @maBS varchar(12)
as
	begin
		 select STT,ho+' '+ten as HoTen, Gioi_tinh,Ghi_chu from Nguoi_kham inner join Benh_nhan on Nguoi_kham.Ma_benh_nhan = Benh_nhan.MaBN
		 where Ngay = @ngay and Ma_bac_si = @maBS and Trang_thai = N'Chưa tiếp nhận'
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_timbenhnhanchuakham]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_timbenhnhanchuakham] @ngay date, @maBS varchar(12)
as
	begin
		 select STT,ho+' '+ten as HoTen, Gioi_tinh,Ghi_chu from Nguoi_kham inner join Benh_nhan on Nguoi_kham.Ma_benh_nhan = Benh_nhan.MaBN
		 where Ngay > @ngay and Ma_bac_si = @maBS and Trang_thai = N'Chưa tiếp nhận'
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_timbenhnhancu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--chuaw run
create proc [dbo].[proc_timbenhnhancu] @maBS varchar(12)
as
	begin
		 select STT,ho+' '+ten as HoTen, Gioi_tinh,Ghi_chu from Nguoi_kham inner join Benh_nhan on Nguoi_kham.Ma_benh_nhan = Benh_nhan.MaBN
		 where Ngay >= GETDATE() and Ma_bac_si = @maBS
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_timbenhnhandatiepnhan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_timbenhnhandatiepnhan] @ngay date, @maBS varchar(12)
as
	begin
		 select STT,Nguoi_kham.Ma_benh_nhan,ho+' '+ten as HoTen, Gioi_tinh,Ghi_chu from Nguoi_kham inner join Benh_nhan on Nguoi_kham.Ma_benh_nhan = Benh_nhan.MaBN
		 where Ngay = @ngay and Ma_bac_si = @maBS and Trang_thai = N'Đã tiếp nhận'
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_timletan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proc_timletan]
AS
BEGIN
    SELECT 
        nd.Ma_nhan_vien,
        nd.ho + ' ' + nd.ten AS HoTen,
        nd.Gioi_tinh,
        CASE 
            WHEN nd.Hoatdong = 1 THEN N'Còn hoạt động'
            ELSE N'Không còn hoạt động'
        END AS Tinh_trang_hoat_dong
    FROM 
        Nguoi_dung nd
    INNER JOIN 
        Le_tan lt ON nd.Ma_nhan_vien = lt.Ma_le_tan;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_timSTT]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[proc_timSTT] @Ngay date, @Ca int, @Ma_benh_nhan varchar(12),@Ma_le_tan varchar(10),@Ma_bac_si varchar(10)
AS
BEGIN
	select STT from Nguoi_kham where ca = @ca and ngay = @ngay and Ma_le_tan = @Ma_le_tan and Ma_bac_si = @Ma_bac_si and Ma_benh_nhan = @Ma_benh_nhan
END

GO
/****** Object:  StoredProcedure [dbo].[proc_timtatcabenhnhan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_timtatcabenhnhan] @ngay date
as
	begin
		 select STT,ho+' '+ten as HoTen,Ma_bac_si, Gioi_tinh,Ghi_chu from Nguoi_kham inner join Benh_nhan on Nguoi_kham.Ma_benh_nhan = Benh_nhan.MaBN
		 where Ngay >= @ngay and Trang_thai = N'Chưa tiếp nhận'
	end
GO
/****** Object:  StoredProcedure [dbo].[proc_xoaanh]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_xoaanh]
		@Taikhoan VARCHAR(30)
as
begin
	delete from image where Taikhoan = @Taikhoan
end
GO
/****** Object:  StoredProcedure [dbo].[them_chiTieuDungCu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[them_chiTieuDungCu] @STT varchar(15),@Ten_dung_cu nvarchar(50), @So_luong int
AS
BEGIN
	Declare @ID varchar(15),@temp varchar(15)
	if (select count(*) from Chi_tieu_dung_cu)=0
		begin
			set @ID = 'CT0001'
		end
	else 
		begin
			if(select count(*) from Chi_tieu_dung_cu where @STT = STT)>0
				begin
					select @ID = id from Chi_tieu_dung_cu where @STT = STT
				end
			else
				begin 
					select TOP 1 @temp = ID from Chi_tieu_dung_cu order by ID desc
					set @temp = cast(right(@temp,4) as int)
					set @temp = @temp +1
					if @temp < 10
						begin
							set @ID = 'CT'+ '000'+Cast(@temp as varchar(1))
						end
					else if @temp < 100
						begin
							set @ID = 'CT'+ '00'+Cast(@temp as varchar(2))
						end
					else if @temp < 1000
						begin
							set @ID = 'CT'+ '0'+Cast(@temp as varchar(3))
						end
					else
						begin
							set @ID = 'CT'+Cast(@temp as varchar(4))
						end
				end
		end	

    --Check loại dụng cụ gì 
    Declare @check nvarchar(50)
    select @check = loai from Vat_lieu where @Ten_dung_cu = Ten_dung_cu
    if @check = N'Vật liệu tiêu hao'
        begin
            insert into Chi_tieu_dung_cu(ID,STT,Ten_dung_cu,So_luong) values(@ID,@STT,@Ten_dung_cu,@So_luong)
            --Cập nhật số lượng tồn kho
            UPDATE t
            SET So_luong = t.So_luong - @So_luong
            FROM Vat_lieu t
            WHERE t.Ten_dung_cu = @Ten_dung_cu

            -- Cập nhật Thanh_tien trong bảng Chi_tieu_dung_cu
            UPDATE hd
            SET Tong_tien = hd.So_luong * t.Gia
            FROM Chi_tieu_dung_cu hd
            INNER JOIN Vat_lieu t ON hd.Ten_dung_cu = t.Ten_dung_cu
            WHERE hd.ID = @ID
        end
    else
        begin
            insert into Chi_tieu_dung_cu(ID,STT,Ten_dung_cu,So_luong) values(@ID,@STT,@Ten_dung_cu,0)
        end
END
---
GO
/****** Object:  StoredProcedure [dbo].[Them_dich_vu_LT]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Them_dich_vu_LT] @STT varchar(15),@Ten_dich_vu nvarchar(50)
AS
BEGIN
	Declare @ID varchar(15),@temp varchar(15)
	if (select count(*) from HD_Dich_vu)=0
		begin
			set @ID = 'HDDV0001'
			insert into HD_Dich_vu values(@ID,@STT,@Ten_dich_vu,0,0,NULL)
		end
	else 
		begin
			if(select count(*) from HD_Dich_vu where @STT = STT)>0
				begin
					select @ID = id from HD_Dich_vu where @STT = STT
					insert into HD_Dich_vu values(@ID,@STT,@Ten_dich_vu,0,0,NULL)
				end
			else
				begin 
					select TOP 1 @temp = ID from HD_Dich_vu order by ID desc
					set @temp = cast(right(@temp,4) as int)
					set @temp = @temp +1
					if @temp < 10
						begin
							set @ID = 'HDDV'+ '000'+Cast(@temp as varchar(1))
							insert into HD_Dich_vu values(@ID,@STT,@Ten_dich_vu,0,0,NULL)
						end
					else if @temp < 100
						begin
							set @ID = 'HDDV'+ '00'+Cast(@temp as varchar(2))
							insert into HD_Dich_vu values(@ID,@STT,@Ten_dich_vu,0,0,NULL)
						end
					else if @temp < 1000
						begin
							set @ID = 'HDDV'+ '0'+Cast(@temp as varchar(3))
							insert into HD_Dich_vu values(@ID,@STT,@Ten_dich_vu,0,0,NULL)
						end
					else
						begin
							set @ID = 'HDDV'+Cast(@temp as varchar(4))
							insert into HD_Dich_vu values(@ID,@STT,@Ten_dich_vu,0,0,NULL)
						end
				end
		end	
END
GO
/****** Object:  StoredProcedure [dbo].[Them_hoadon_thuoc]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Them_hoadon_thuoc] @STT varchar(15),@Ten_thuoc nvarchar(50), @So_luong int, @Ghi_chu nvarchar(100)
AS
BEGIN
	Declare @ID varchar(15),@temp varchar(15)
	if (select count(*) from HD_Thuoc)=0
		begin
			set @ID = 'HDT0001'
			insert into HD_Thuoc(ID,STT,Ten_thuoc,So_luong,Ghi_chu) values(@ID,@STT,@Ten_thuoc,@So_luong,@Ghi_chu)
		end
	else 
		begin
			if(select count(*) from HD_Thuoc where @STT = STT)>0
				begin
					select @ID = id from HD_Thuoc where @STT = STT
					insert into HD_Thuoc(ID,STT,Ten_thuoc,So_luong,Ghi_chu) values(@ID,@STT,@Ten_thuoc,@So_luong,@Ghi_chu)
				end
			else
				begin 
					select TOP 1 @temp = ID from HD_Thuoc order by ID desc
					set @temp = cast(right(@temp,4) as int)
					set @temp = @temp +1
					if @temp < 10
						begin
							set @ID = 'HDT'+ '000'+Cast(@temp as varchar(1))
							insert into HD_Thuoc(ID,STT,Ten_thuoc,So_luong,Ghi_chu) values(@ID,@STT,@Ten_thuoc,@So_luong,@Ghi_chu)
						end
					else if @temp < 100
						begin
							set @ID = 'HDT'+ '00'+Cast(@temp as varchar(2))
							insert into HD_Thuoc(ID,STT,Ten_thuoc,So_luong,Ghi_chu) values(@ID,@STT,@Ten_thuoc,@So_luong,@Ghi_chu)
						end
					else if @temp < 1000
						begin
							set @ID = 'HDT'+ '0'+Cast(@temp as varchar(3))
							insert into HD_Thuoc(ID,STT,Ten_thuoc,So_luong,Ghi_chu) values(@ID,@STT,@Ten_thuoc,@So_luong,@Ghi_chu)
						end
					else
						begin
							set @ID = 'HDT'+Cast(@temp as varchar(4))
							insert into HD_Thuoc(ID,STT,Ten_thuoc,So_luong,Ghi_chu) values(@ID,@STT,@Ten_thuoc,@So_luong,@Ghi_chu)
						end
				end
		end	
    -- Cập nhật Thanh_tien trong bảng HD_Thuoc
    UPDATE hd
    SET Thanh_tien = hd.So_luong * t.Gia_ban
    FROM HD_Thuoc hd
    INNER JOIN Thuoc t ON hd.Ten_thuoc = t.Ten_thuoc
    WHERE hd.ID = @ID

    -- Trừ đi So_luong trong bảng Thuoc
    UPDATE t
    SET So_luong = t.So_luong - @So_luong
    FROM Thuoc t
    WHERE t.Ten_thuoc = @Ten_thuoc
END
GO
/****** Object:  StoredProcedure [dbo].[Them_nguoi_kham]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Them_nguoi_kham] @Ngay date, @Ca int, @Ma_benh_nhan varchar(12),@Ma_le_tan varchar(10),@Ma_bac_si varchar(10)
AS
BEGIN
	Declare @STT varchar(15),@temp varchar(15)
	if( select count(*) from Nguoi_kham where @Ngay =Ngay and @Ca = Ca )=0
		begin
			set @STT = dbo.Tao_ngay(@Ngay) + 'Ca'+Cast(@Ca as varchar(1))+ '01'
			insert into Nguoi_kham values(@STT,@Ngay,@Ca,@Ma_benh_nhan,@Ma_le_tan,@Ma_bac_si,N'Chưa tiếp nhận',NULL)
		end
	else 
		begin

			select TOP 1 @temp = STT from Nguoi_kham where  @Ngay =Ngay and @Ca = Ca order by STT desc
				set @temp = cast(right(@temp,2) as int)
				set @temp = @temp +1
				if @temp < 10
					begin
						set @STT =  dbo.Tao_ngay(@Ngay) + 'Ca'+Cast(@Ca as varchar(1))+ '0'+Cast(@temp as varchar(1))
						insert into Nguoi_kham values(@STT,@Ngay,@Ca,@Ma_benh_nhan,@Ma_le_tan,@Ma_bac_si,N'Chưa tiếp nhận',NULL)
					end
				else
					begin
						set @STT =  dbo.Tao_ngay(@Ngay) + 'Ca'+Cast(@Ca as varchar(1))+Cast(@temp as varchar(2))
						insert into Nguoi_kham values(@STT,@Ngay,@Ca,@Ma_benh_nhan,@Ma_le_tan,@Ma_bac_si,N'Chưa tiếp nhận',NULL)
					end
		end
END
GO
/****** Object:  StoredProcedure [dbo].[Them_nguoi_kham_bac_si]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Them_nguoi_kham_bac_si] @Ngay date, @Ca int, @Ma_benh_nhan varchar(12),@Ma_bac_si varchar(10)
AS
BEGIN
	Declare @STT varchar(15),@temp varchar(15)
	if( select count(*) from Nguoi_kham where @Ngay =Ngay and @Ca = Ca )=0
		begin
			set @STT = dbo.Tao_ngay(@Ngay) + 'Ca'+Cast(@Ca as varchar(1))+ '01'
			insert into Nguoi_kham(STT,Ngay,Ca,Ma_benh_nhan,Ma_bac_si,Trang_thai,Ghi_chu) values(@STT,@Ngay,@Ca,@Ma_benh_nhan,@Ma_bac_si,N'Chưa tiếp nhận',NULL)
		end
	else 
		begin

			select TOP 1 @temp = STT from Nguoi_kham where  @Ngay =Ngay and @Ca = Ca order by STT desc
				set @temp = cast(right(@temp,2) as int)
				set @temp = @temp +1
				if @temp < 10
					begin
						set @STT =  dbo.Tao_ngay(@Ngay) + 'Ca'+Cast(@Ca as varchar(1))+ '0'+Cast(@temp as varchar(1))
			insert into Nguoi_kham(STT,Ngay,Ca,Ma_benh_nhan,Ma_bac_si,Trang_thai,Ghi_chu) values(@STT,@Ngay,@Ca,@Ma_benh_nhan,@Ma_bac_si,N'Chưa tiếp nhận',NULL)
					end
				else
					begin
						set @STT =  dbo.Tao_ngay(@Ngay) + 'Ca'+Cast(@Ca as varchar(1))+Cast(@temp as varchar(2))
			insert into Nguoi_kham(STT,Ngay,Ca,Ma_benh_nhan,Ma_bac_si,Trang_thai,Ghi_chu) values(@STT,@Ngay,@Ca,@Ma_benh_nhan,@Ma_bac_si,N'Chưa tiếp nhận',NULL)
					end
		end
END
GO
/****** Object:  StoredProcedure [dbo].[Them_Nhan_Vien]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--THÊM NHÂN VIÊN
CREATE PROC [dbo].[Them_Nhan_Vien] @Ho NVARCHAR(50),@Ten NVARCHAR(50), @Gioi_tinh NVARCHAR(3),@email varchar(50),@Ngay_sinh DATE,@Que_quan NVARCHAR(30),@CCCD NVARCHAR(12),@Maluong varchar(10)
AS
begin
	Declare @Ma_nhan_vien varchar(10),@stt int,@temp varchar(10)
	if( (select count(*) from Nguoi_dung where Maluong = @Maluong)=0)
		begin
			set @Ma_nhan_vien = @Maluong +'01' 
			insert into Nguoi_dung values(@Ma_nhan_vien,@Ho,@Ten,@Gioi_tinh,@Ngay_sinh,@email,@Que_quan,@CCCD,@Maluong,1)
			declare @Username varchar(30), @Password VARBINARY(64), @mixName varchar(30)
			set @Username = @Ma_nhan_vien
			set @Password = dbo.HashPassword('PKRHM'+RIGHT(@cccd,4))
			insert into Tai_khoan values(@Username,@Password,@Ma_nhan_vien,0)
			---
			if @Maluong = 'BSNC'
				begin
					insert into Bac_si values(@Ma_nhan_vien,N'Nha chu')
				end
			if  @Maluong = 'BSNRVTP'
				begin
					insert into Bac_si values(@Ma_nhan_vien,N'Nhổ răng và tiểu phẫu')
				end
				
			if  @Maluong = 'BSPH'
				begin
					insert into Bac_si values(@Ma_nhan_vien,N'Phục hình')
				end
			if @Maluong = 'BSCRVNN'
				begin
					insert into Bac_si values(@Ma_nhan_vien,N'Chữa răng và nội nha')
				end
			if @Maluong = 'BSRTE'
				begin
					insert into Bac_si values(@Ma_nhan_vien,N'Răng trẻ em')
				end
			if @Maluong = 'BSTQ'
				begin
					insert into Bac_si values(@Ma_nhan_vien,N'Tổng quát')
				end
			if @Maluong = 'CPK'
				begin
					insert into Chu values(@Ma_nhan_vien)
				end
			if @Maluong = 'LT'
				begin
					insert into Le_tan values(@Ma_nhan_vien)
				end
			--
		end
	else
		begin
			select TOP 1 @temp = Ma_nhan_vien from Nguoi_dung where Maluong = @Maluong order by Ma_nhan_vien desc
			set @stt = cast(right(@temp,2) as int)
			set @stt = @stt +1
			if @stt < 10
					begin
						set @Ma_nhan_vien = @Maluong+ '0' + cast(@stt as varchar(3))
						insert into Nguoi_dung values(@Ma_nhan_vien,@Ho,@Ten,@Gioi_tinh,@Ngay_sinh,@email,@Que_quan,@CCCD,@Maluong,1)
						declare @Username1 varchar(30), @Password1 VARBINARY(64), @mixName1 varchar(30)
						set @Username1 = @Ma_nhan_vien
					set @Password1 = dbo.HashPassword('PKRHM'+RIGHT(@cccd,4))
					insert into Tai_khoan values(@Username1,@Password1,@Ma_nhan_vien,0)
						---
					if @Maluong = 'BSNC'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Nha chu')
						end
					if  @Maluong = 'BSNRVTP'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Nhổ răng và tiểu phẫu')
						end
				
					if  @Maluong = 'BSPH'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Phục hình')
						end
					if @Maluong = 'BSCRVNN'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Chữa răng và nội nha')
						end
					if @Maluong = 'BSRTE'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Răng trẻ em')
						end
					if @Maluong = 'BSTQ'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Tổng quát')
						end
					if @Maluong = 'CPK'
						begin
							insert into Chu values(@Ma_nhan_vien)
						end
					if @Maluong = 'LT'
						begin
							insert into Le_tan values(@Ma_nhan_vien)
						end
			--
				end
			else
				begin
					set @Ma_nhan_vien = @Maluong + cast(@stt as varchar(3))
					insert into Nguoi_dung values(@Ma_nhan_vien,@Ho,@Ten,@Gioi_tinh,@Ngay_sinh,@email,@Que_quan,@CCCD,@Maluong,1)
					declare @Username2 varchar(30), @Password2 VARBINARY(64), @mixName2 varchar(30)
					set @Username2 = @Ma_nhan_vien
					set @Password2 = dbo.HashPassword('PKRHM'+RIGHT(@cccd,4))
					insert into Tai_khoan values(@Username2,@Password2,@Ma_nhan_vien,0)
					---
					if @Maluong = 'BSNC'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Nha chu')
						end
					if  @Maluong = 'BSNRVTP'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Nhổ răng và tiểu phẫu')
						end
				
					if  @Maluong = 'BSPH'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Phục hình')
						end
					if @Maluong = 'BSCRVNN'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Chữa răng và nội nha')
						end
					if @Maluong = 'BSRTE'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Răng trẻ em')
						end
					if @Maluong = 'BSTQ'
						begin
							insert into Bac_si values(@Ma_nhan_vien,N'Tổng quát')
						end
					if @Maluong = 'CPK'
						begin
							insert into Chu values(@Ma_nhan_vien)
						end
					if @Maluong = 'LT'
						begin
							insert into Le_tan values(@Ma_nhan_vien)
						end
			--
				end
		end
end
GO
/****** Object:  StoredProcedure [dbo].[ThemBenhNhan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThemBenhNhan]
    @CCCD NVARCHAR(12),
    @Ho NVARCHAR(50),
    @Ten NVARCHAR(50),
    @GioiTinh NVARCHAR(3),
    @NgaySinh DATETIME,
    @DiaChi NVARCHAR(100),
    @NgheNghiep NVARCHAR(50),
    @SoDienThoai NVARCHAR(15)
AS
BEGIN
    DECLARE @MaBN VARCHAR(12)
    DECLARE @SoBn INT
    
    SET @SoBn = ISNULL((SELECT MAX(CAST(RIGHT(MaBN, 4) AS INT)) FROM Benh_nhan), 0) + 1
    
    SET @MaBN = CONVERT(VARCHAR(8), GETDATE(), 112) + RIGHT('000' + CAST(@SoBn AS VARCHAR(4)), 4)

    INSERT INTO Benh_nhan (MaBN, CCCD, Ho, Ten, Gioi_tinh, NgaySinh, Dia_chi, Nghe_nghiep, So_dien_thoai)
    VALUES (@MaBN, @CCCD, @Ho, @Ten, @GioiTinh, @NgaySinh, @DiaChi, @NgheNghiep, @SoDienThoai)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemCongViec]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThemCongViec] 
  @Ngay date,
  @Ma_bac_si VARCHAR(10),
  @Ca INT
AS
BEGIN
  -- Thêm công việc mới
  INSERT INTO Lam_viec (Ngay, Ma_bac_si, Ca, Diemdanh)
  VALUES (@Ngay, @Ma_bac_si, @Ca, N'Chưa điểm danh');
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemDichVu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThemDichVu]
    @Ten_dich_vu NVARCHAR(50),
    @Don_vi_tinh NVARCHAR(15),
    @Don_gia FLOAT,
    @Ghi_chu NVARCHAR(150),
    @Ten_danh_muc NVARCHAR(50)
AS
BEGIN
    -- Insert new row into Dich_vu table
    INSERT INTO Dich_vu (Ten_dich_vu, Don_vi_tinh, Don_gia, Ghi_chu, Ten_danh_muc)
    VALUES (@Ten_dich_vu, @Don_vi_tinh, @Don_gia, @Ghi_chu, @Ten_danh_muc);
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemDungCu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThemDungCu]
    @Ten_dung_cu NVARCHAR(30),
    @Mau_sac NVARCHAR(15),
    @Kich_co FLOAT,
    @DVT NVARCHAR(15),
    @Gia FLOAT,
    @So_luong INT,
    @Ghi_chu NVARCHAR(150),
    @Loai NVARCHAR(30)
AS
BEGIN

    INSERT INTO Vat_lieu (Ten_dung_cu, Mau_sac, Kich_co, DVT, Gia, So_luong, Ghi_chu, Loai)
    VALUES (@Ten_dung_cu, @Mau_sac, @Kich_co, @DVT, @Gia, @So_luong, @Ghi_chu, @Loai);
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemThuoc]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThemThuoc]
    @Ten_thuoc NVARCHAR(30),
    @DVT NVARCHAR(15),
    @So_luong INT,
    @Gia_ban FLOAT,
    @Ham_luong NVARCHAR(10),
    @Ghi_chu NVARCHAR(150),
    @Ten_loai NVARCHAR(30)
AS
BEGIN
    INSERT INTO Thuoc (Ten_thuoc, DVT, So_luong, Gia_ban, Ham_luong, Ghi_chu, Ten_loai)
    VALUES (@Ten_thuoc, @DVT, @So_luong, @Gia_ban, @Ham_luong, @Ghi_chu, @Ten_loai);
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoNam]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục lưu trữ thống kê theo năm
CREATE PROCEDURE [dbo].[ThongKeTheoNam] @nam int
AS
BEGIN
    SELECT 
        YEAR(Gio) AS Khoang,
        SUM(Tongtien) AS TongThu
    FROM 
        Thanh_toan
    WHERE 
        Tinhtrang = N'Đã thanh toán' and YEAR(Gio) = @nam
    GROUP BY 
        YEAR(Gio)
    ORDER BY 
        Khoang;
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoQuy]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThongKeTheoQuy]  @nam int
AS
BEGIN
    SELECT 
        DATEPART(QUARTER, Gio) AS Khoang,
        SUM(Tongtien) AS TongThu
    FROM 
        Thanh_toan
    WHERE 
        Tinhtrang = N'Đã thanh toán'  and YEAR(Gio) = @nam
    GROUP BY 
        DATEPART(QUARTER, Gio)
    ORDER BY 
        Khoang;
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoThang]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Thủ tục lưu trữ thống kê theo tháng
CREATE PROCEDURE [dbo].[ThongKeTheoThang]  @nam int
AS
BEGIN
    SELECT 
        MONTH(Gio) AS Khoang,
        SUM(Tongtien) AS TongThu
    FROM 
        Thanh_toan
    WHERE 
        Tinhtrang = N'Đã thanh toán'  and YEAR(Gio) = @nam
    GROUP BY 
        MONTH(Gio)
    ORDER BY 
        Khoang;
END;
GO
/****** Object:  StoredProcedure [dbo].[TongTienHD]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[TongTienHD] @STT varchar(15)
as
begin
	declare @Tong float
	SELECT @Tong=COALESCE(th.Tong, 0) + COALESCE(dv.Tong, 0) 
	FROM Nguoi_kham nk 
	LEFT JOIN TongHDT th ON nk.STT = th.STT
	LEFT JOIN TongHDDV dv ON nk.STT = dv.STT
	where nk.STT = @STT
	update Nguoi_kham set Trang_thai = N'Đã điều trị' where STT = @STT
	if(select count(*) from Thanh_toan)=0
		begin
			declare @ID varchar(30)
			set @ID = 'HD0001'
			insert into Thanh_toan(ID,STT,Gio,Tongtien,Tinhtrang) values (@ID,@STT,NULL,@Tong,N'Chưa thanh toán')
		end
	else
		begin
			declare @ID1 varchar(30)
			declare @temp varchar(30),@thuTu int
			select Top 1 @temp =ID from Thanh_toan order by ID desc
			set @thuTu = cast(right(@temp,4) as int)
			set @thuTu = @thuTu +1
			if @thuTu<10
				begin
					set @ID1 = 'HD'+'000'+cast(@thuTu as varchar(1))
					insert into Thanh_toan(ID,STT,Gio,Tongtien,Tinhtrang) values(@ID1,@STT,NULL,@Tong,N'Chưa thanh toán')
				end
			else if @thuTu<100
				begin
					set @ID1 = 'HD'+'00'+cast(@thuTu as varchar(2))
					insert into Thanh_toan(ID,STT,Gio,Tongtien,Tinhtrang) values(@ID1,@STT,NULL,@Tong,N'Chưa thanh toán')
				end
			else if @thuTu<1000
				begin
					set @ID1 = 'HD'+'0'+cast(@thuTu as varchar(3)	)
					insert into Thanh_toan(ID,STT,Gio,Tongtien,Tinhtrang) values(@ID1,@STT,NULL,@Tong,N'Chưa thanh toán')
				end
			else
				begin
					set @ID1 = 'HD'+cast(@thuTu as varchar(4))
					insert into Thanh_toan(ID,STT,Gio,Tongtien,Tinhtrang) values(@ID,@STT,NULL,@Tong,N'Chưa thanh toán')
				end
		end
end
GO
/****** Object:  StoredProcedure [dbo].[xacNhanthanhToan]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[xacNhanthanhToan] @ID varchar(30),@Hinhthuc nvarchar(30), @Tinhtrang nvarchar(30), @Gio datetime 
AS 
BEGIN
	UPDATE Thanh_toan
	set Tinhtrang = @Tinhtrang, Gio = @Gio, Hinhthuc = @Hinhthuc
	where ID = @ID
	if @Tinhtrang = N'Đã thanh toán'
		begin
			---Tiền bonus
			declare @Tongtien float, @STT varchar(15), @bonus float, @ma int
			--
			select @STT = tt.STT from Thanh_toan tt ,Nguoi_kham nk where tt.STT = nk.STT and tt.ID =@ID
			--
			select @Tongtien = Tong from TongHDDV where STT = @STT

			set @bonus = @Tongtien  * 0.3
			IF(Select count(*) from Luong_nhan_them) =0	
				begin
					set @ma = 1
					insert into Luong_nhan_them values(@ma,@bonus,@Gio,@ID)
				end
			else
				begin
					select Top 1 @ma = Ma from Luong_nhan_them order by Ma desc
					set @ma = @ma +1
					insert into Luong_nhan_them values(@ma,@bonus,@Gio,@ID)
				end
		end
END
GO
/****** Object:  StoredProcedure [dbo].[xoa_chiTieuDungCu]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[xoa_chiTieuDungCu] @STT varchar(15),@Ten_dung_cu nvarchar(50)
AS
BEGIN
    --Check loại dụng cụ gì 
    Declare @check nvarchar(50),@So_luong int
    select @check = loai from Vat_lieu where @Ten_dung_cu = Ten_dung_cu
    select @So_luong = So_luong from Chi_tieu_dung_cu where @STT = STT and @Ten_dung_cu =Ten_dung_cu
    if @check = N'Vật liệu tiêu hao'
        begin
            update Vat_lieu 
            set So_luong  = So_luong + @So_luong
            where @Ten_dung_cu = Ten_dung_cu

            delete from Chi_tieu_dung_cu
            where @STT = STT and @Ten_dung_cu =Ten_dung_cu
        end
END
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Nhan_Vien]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--XÓA NHÂN VIÊN
CREATE PROC [dbo].[Xoa_Nhan_Vien] 
    @Ma_nhan_vien VARCHAR(10)
AS
BEGIN
    -- Update Hoatdong column to 0 for the specified Ma_nhan_vien
    UPDATE Nguoi_dung
    SET Hoatdong = 0
    WHERE Ma_nhan_vien = @Ma_nhan_vien;
END
GO
/****** Object:  Trigger [dbo].[Update_Thanh_tien]    Script Date: 5/13/2024 11:01:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Update_Thanh_tien]
ON [dbo].[HD_Dich_vu]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(So_luong)
    BEGIN
        UPDATE hd
        SET Thanh_tien = d.Don_gia * i.So_luong
        FROM HD_Dich_vu hd
        INNER JOIN inserted i ON hd.ID = i.ID AND hd.STT = i.STT AND hd.Ten_dich_vu = i.Ten_dich_vu
        INNER JOIN Dich_vu d ON hd.Ten_dich_vu = d.Ten_dich_vu
    END
END;
GO
ALTER TABLE [dbo].[HD_Dich_vu] ENABLE TRIGGER [Update_Thanh_tien]
GO
/****** Object:  Trigger [dbo].[update_thanhTienDichVu]    Script Date: 5/13/2024 11:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[update_thanhTienDichVu]
ON [dbo].[HD_Dich_vu]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        UPDATE hd
        SET Thanh_tien = i.So_luong * t.Don_gia
        FROM HD_Dich_vu hd
        INNER JOIN inserted i ON hd.ID = i.ID AND hd.Ten_dich_vu = i.Ten_dich_vu
        INNER JOIN Dich_vu t ON hd.Ten_dich_vu = t.Ten_dich_vu;
    END
END;
GO
ALTER TABLE [dbo].[HD_Dich_vu] ENABLE TRIGGER [update_thanhTienDichVu]
GO
USE [master]
GO
